<ul class="nav justify-content-center">
  <li class="nav-item">
<!--    <a class="nav-link active text-hide" style="background-image: url('pen.png')" href="#">LOGO</a>-->
  <img src="assets/pen.png" width="25" height="25" style="margin-top: 0.4rem">
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/generate">Генератор</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Вход</a>
  </li>
</ul>
<div class="underline"></div>
