<app-navbar></app-navbar>
<div>
<h1 class="text-center mt-5">Привет {{user?.username}}</h1>
<div class="container text-center">
  <div class="row">
    <div class="col-lg">
      <form #fontForm="ngForm">
        <p>Ваш шрифт</p>
        <div class="form-group sm-1 mb-2">
          <div class="upload-btn-wrapper">
            <button class="btn" (click)="btn()">
              <input ngModel type="file" name="font" (change)="fontLoad($event.target.files)" />
              Загрузить шрифт
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg">
      <form>
        <p>Ваш задний фон</p>
        <div class="form-group sm-1 mb-2">
          <div class="upload-btn-wrapper">
            <button class="btn btn-back">
              <input type="file" name="back" (change)="backLoad($event.target.files)" />
              Загрузить задний фон
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg">
      <form>
        <p>Ваш текст</p>
        <div class="form-group sm-1 mb-2">
          <div class="upload-btn-wrapper">
            <button class="btn">
              <input type="file" name="text" (change)="textLoad($event.target.files)" />
              Загрузить текст
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="tip-control" href="#carouselExampleControls1" data-slide="prev">Сюда</button>
    </div>
    <div class="col">
      <button class="tip-control" href="#carouselExampleControls1" data-slide="next">Туда</button>
    </div>
  </div>
</div>




  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel" data-interval="false">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container text-center mb-5">
          <div class="row">
            <div class="col-lg bg">
              <h2>Выставляй настройки</h2>
              <form #genForm="ngForm">
                <div class="form-group sm-1 mb-2 fg" *ngFor="let group of labels">
                  <label>{{group.label}}</label>
                  <div class="container">
                    <div class="row">
                      <div class="col-8">
                        <input [ngModel]="group.value" [name]="group.name" [type]="group.type" class="form-control" [placeholder]="group.label">
                      </div>
                      <div class="col">
                        <button [matTooltip]="group.tip"
                                matTooltipPosition="right"
                                class="tool-btn">?</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block sbm" type="submit" (click)="generate(genForm)">Создать</button>
              </form>
            </div>
            <div class="col-lg bg">
              <h2>Тут твой конспект</h2>
              <div *ngIf="loading" class="spinner-border sp" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <ng-container *ngIf="!loading">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <ng-container *ngFor="let img of result;let i=index">
                      <div class="carousel-item active" *ngIf="i==0">
                        <img [src]="img" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" *ngIf="i!=0">
                        <img [src]="img" class="d-block w-100" alt="...">
                      </div>
                    </ng-container>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container text-center mb-5">
          <div class="row">
            <div class="col-lg bg tips-block">
              <h2>О сервисе</h2>
              <div>
                <p style="font-size: 18px">
                  Генератор находится в разработке и многий функционал для более корректной настройки
                  сетки будет добавлен в будущем. Можете оставить отзыв или написать свои предложения
                  в форме ниже.
                </p>
                <form class="callback">
                  <div class="form-group mb-2">
                    <input type="text" class="form-control"  placeholder="Тема">
                  </div>
                  <div class="form-group mb-2">
                    <textarea type="text" class="form-control" placeholder="Текст" rows="5"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
