input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
h1{
  font-family: 'Caveat', cursive; 
  font-size: 40px;
}
h2{
  font-family: 'Caveat', cursive;
  font-size: 36px;
}
p{
  font-family:'Caveat', cursive; 
  font-size: 26px; 
}
label{
  font-family:'Caveat', cursive; 
  font-size: 36px; 
}
.btn{
  font-family:'Caveat', cursive; 
  font-size: 20px; 
}
.fg{
  width: 50%;
  margin-left: 25%;
}
.fonts{
  font-size: 32px;
  text-align: center;
}
select[multiple]:focus option:checked {
  background: red linear-gradient(0deg, black 0%, black 100%);
}
.center{
  margin: 0 auto;
  width: 50%;
}
label{
  font-size: 18px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.bg{
  border: 1px solid;
  padding: 1rem;
  margin: .5rem;
}
.sp{
  position: absolute;
  top: 50%;
}
.tips-block{
  height: 43rem;
}
.tip-control{
  color: black;
  padding: .5rem;
  background: white;
  border: 1px solid;
  border-radius: 6px;
  font-family:'Caveat', cursive; 
  font-size: 20px;
}
.tip-control:hover{
  color: white;
  padding: .5rem;
  background: black;
  border: 1px solid;
}
.tool-btn{
  border: 1px solid;
  background: black;
  color: white;
  border-radius: 8rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 18px;
}
.callback{
  margin: 8rem;
}
@media screen and (max-device-width: 480px) {
  .tool-btn{
    float: right;
    position: absolute;
  }
  .callback{
    margin: 2rem;
  }
}
.btn {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 8px 20px;
}
.btn-back{
  width: 100%;
}
.btn:hover {
  border: 1px solid white;
  color: white;
  background-color: black;
  padding: 8px 20px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.sbm{
  width: 50%!important;
  margin: auto!important;
}

