
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
button{
  background: black;
  border: none;
  color: white;
}
button:hover{
  background: white;
  color: black;
  border: 0.5px solid black;
}

.btn:focus{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 25vh;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 20px;
  border: 3px solid #1d1d1d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.form-signin .form-control:focus{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
 border: 3px solid #ccc;
}
input{
  margin-bottom: 10px;
  font-family:'Caveat', cursive; 
}
.success{
  font-size: 22px;
  color: darkred;
  margin-top: 20rem;
}
.err{
  font-size: 16px;
  color: darkred;
}
h1{
  font-family: 'Caveat', cursive; 
  font-size: 30px;
}
p{
  font-family:'Caveat', cursive; 
  font-size: 20px; 
  color: #707070;
}
.btn{
  color: white;
  background: #1d1d1d;
  border: 1px solid #1d1d1d;
  font-family:'Caveat', cursive;
  font-size: 20px;
}
a{
  font-family:'Caveat', cursive; 
  font-size: 20px; 
  color: #000000;
}